// bower:scss
// endbower

//Variables

$white: rgba(255, 255, 255, 1);

// IMPORTS
@import "normalize";
@import "typography";
@import "header";
@import "media-queries";

// GLOBAL STYLES
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
}

hr {
  margin: 10px 0px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0));
  width: 100vw;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto-fit;
  grid-template-areas:
      "h h h h h h h h h h h h"
      "i i i i i i i i i i i i"
      "w w w w w w w w w w w w";
}

.full-width {
  grid-area: i;
}

.hero-img-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  img {
    width: 100%;
    max-width: 960px;
    display: block;
    margin: 0 auto;
  }
}

.work-container {
  grid-area: w;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  img {
    clear: both;
    display: block;
    max-width: 90%;
    /* max-width: 420px; */
    margin: 10px auto;
    grid-column: span 4;
    align-self: center;
  }
}

.section-title {
  margin-left: 4%;
  grid-column: span 12;
  color: #7d97ad;
}

.caption {
  color: #2d3c49;
  display: block;
  width: 90%;
  max-width: 420px;
  margin: 0 auto;
  grid-column: span 4;
  grid-row: row 3;
  text-align: center;
}

.work-img {
  position: relative;
  grid-gap: 40px;
  grid-column: span 4;
  grid-row: row 2;
  height: auto;
  &:hover .animate-text {
    transform: translateY(0);
    opacity: 1;
  }
  &:hover hr {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1
  }
  h4 {
    color: #fff;
    position: absolute;
    top: 25px;
    right: 7%;
    padding-left: 27%;
    max-height: 25px;
    display: inline-block;
    opacity: 0;
    transform: translateY(-80px);
    transition: all 0.6s ease-in-out;
    margin: 5px auto;
  }
  p {
    color: $white;
    position: absolute;
    right: 7%;
    padding-left: 27%;
    top: 60px;
    opacity: 0;
    text-align: justify;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
  }
  hr {
    position: absolute;
    max-width: 65%;
    background: $white;
    top: 55px;
    right: 7%;
    transform: translateX(-420px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
  img {
    width: 90%;
    margin: 10px auto;
    max-height: auto;
    box-shadow: 3px 10px 10px rgba(55,55,55,0.2);
    &:hover {
      box-shadow: 3px 15px 15px rgba(55,55,55,0.4);
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
}

.heading-container {
  position: absolute;
  color: #FAFAFA;
  left: 50px;
  top: 30%;
  h1 {
    text-transform: uppercase;
  }
}

.works {
  clear: both;
  grid-column: span 4;
  display: block;
}

// Mixins

@mixin small() {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin medium() {
  @media screen and (max-width: 728px) {
    @content;
  }
}

@mixin large() {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@include small {
  h3 {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.2em;
  }
  p {
    font-size: 0.9em;
    line-height: 1em;
  }
  .work-container {
    display: block;
  }
  .work-img {
    p {
      top: 60px;
      max-width: 70%;
      right: 15px;
      padding: 0;
      padding-top: 10px;
    }
    h3 {
      top: 25px;
      max-width: 70%;
      right: 15px;
      padding: 0;
      padding-top: 10px;
    }
  }
}

@include medium {
  h3 {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  p {
    font-size: 1em;
    line-height: 1em;
  }
  .work-container {
    display: block;
  }
}

@include large {
  .works {
    grid-column: span 6;
  }
  .work-img {
    p {
      top: 60px;
      max-width: 70%;
      right: 6%;
      padding: 0;
      padding-top: 10px;
    }
    h3 {
      top: 25px;
      max-width: 70%;
      right: 6%;
      padding: 0;
      padding-top: 10px;
    }
  }
}
